body{
	font-family: arial;
}

h1 {
	color:red;
}

h2 {
	font-size:14px;
	font-family:arial;
	padding: 2px;
	margin:0px;
}

ul{
	list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div > ul {
	display: flex;
	flex-wrap: wrap;
}

div > ul > li {
	flex:0 0 200px;
	margin: 5px;
	background-color:#EEE;
}

li > ul > li{
	margin: 2px;
	padding: 1px;
}
li{
	float: left;
	border: 1px solid #AAA;
	display: inline;
}

li > ul > li .message, li > ul > li .last_update {
	font-size: 8pt;
	font-family: monospace;
	overflow-x: auto;
	margin-top: 0;
	margin-bottom: 0;
}

div.state{
	display: none;
}

li.OK > h2, li > ul > li.OK{
	background-color:#7F7;
}

div > ul > li > ul > li.OK{
    display: None;
}

div > ul > li:hover > ul > li.OK{
    display: inline;
}

li > ul > li.OK .message, li > ul > li .last_update{
	background-color:#CFC;
	display: none;
}
li:hover > ul > li.OK .message, li:hover > ul > li .last_update{
	display: block;
}

li.WARNING > h2, li > ul > li.WARNING{
	background-color:#FF7;
}

li > ul > li.WARNING .message{
    background-color:#FFC;
}

li.CRITICAL > h2, li > ul > li.CRITICAL{
	background-color:#F77;
}
li > ul > li.CRITICAL .message{
    background-color:#FCC;
}

li.UNKNOWN > h2, li > ul > li.UNKNOWN{
	background-color:#9CF;
}
li > ul > li.UNKNOWN .message{
    background-color:#CEF;
}