	<ul>
		{% for host in status %}
			<li class='{{ host['state'] }}'><h2>{{ escape(host['name']) }} ({{ escape(host['hostname']) }})</h2><div class='state'>{{ escape(host['state']) }}</div>
				<ul>
				{% for service in host['services'] %}
					<li class='{{ service['state'] }}'>{{ escape(service['name']) }}
					   {% if service['message'] %}
					       <pre class='message'>{{ escape(service['message']) }}</pre>
					   {% end %}
             <pre class='age'>{{ escape(service['age']) }} {% if service['is_cached'] %}<a href='test' onclick="ajax('/force_refresh?hostname={{ escape(host['hostname']) }}&service={{ escape(service['name']) }}');return false;">Refresh</a>{% end %}</pre>
					</li>
				{% end %}
				</ul>
			</li>
		{% end %}
	</ul>
